[2013-11-13 15:55] schmurfy opened #2 "2.1preview1"
is the preview1 release supported or does it requires a more recent one ?

I just tried it but I get some "Symbol not found: _rb_profile_frames" errors :(

[2013-11-14 09:59] #2 closed, assigned to nobody

[2013-12-25 03:11] cookiebody opened #3 "Encoding::UndefinedConversionError"
Ruby 2.1 + Padrino + Unicorn

[code]

[2013-12-25 03:14] #3 closed, assigned to nobody

[2013-12-26 16:33] bry4n opened #6 "Middleware (wrong number of arguments)"
Stackprof looks an amazing tool. The example code from README didn't work for me when I tried to load it as middleware in config.ru or rails' `config.middleware.use`. They resulted the same error. See below for stacktrace.

**Specifications:**
- Ruby 2.1.0
- OSX 10.9.1
- Rails 4.0.2

**Configuration**

[code]

**Stacktrace**

[code]

[2013-12-26 19:08] epinault opened #7 "Error while trying stackprof"
I just installed stackprof and ruby 2.1 from scratch.

I just tried to run the command to see what happens as -is

[code]

Might want to display the help when no report is specified?

[2013-12-26 19:10] epinault opened #8 "invalid help message in banner"
When I try stackprof 0.2.0, help is using incorrect name? Maybe $0 or something else might need to be used?

[code]

[2013-12-28 14:04] betelgeuse opened #9 "Getting over 100% in total"
With 0.2.0 on 2.1.0-rc1:

[code]

[2013-12-29 00:22] #7 closed, assigned to nobody

[2013-12-29 00:26] #6 closed, assigned to nobody

[2013-12-29 00:26] #8 closed, assigned to nobody

[2014-01-12 19:36] juanxo opened #11 "Error trying to read file using the examples in the doc"
While trying the gem using either `stackprof tmp/stackprof-cpu-*.dump --text --limit 1` or  `stackprof tmp/stackprof-cpu-*.dump --method 'whatever'` the command fails at trying to read some file.

In the stackprof binary there is this line, `reports << StackProf::Report.new(Marshal.load(IO.binread(ARGV.pop)))`, that gets the last element on the argv list (the filename after all the opt parsing I s

[2014-01-13 07:15] #11 closed, assigned to nobody

[2014-03-05 22:11] carllerche opened #22 "Add a license"
There does not seem to be license information in the repo. I would like to bundle it with some code (in a public gem), but would need to know that it is :+1:

[2014-03-05 23:51] #22 closed, assigned to nobody

[2014-03-06 00:34] agrimm opened #23 "Percentages taken affected by sampling interval"
As I decrease the sampling interval, starting at 1000 microseconds and going down to 10 microseconds, when sampling by wall time, the proportions used by at least one method decreases:

[code]

Is this a normal occurrence, or a potential bug?

[2014-03-29 04:17] mperham opened #25 "Thread safety?"
Can I use this to profile jobs running in Sidekiq concurrently?  Any caveats to beware?

[2014-06-27 17:42] cddr opened #27 "What does a high miss rate mean?"
I'm trying to see what's slowing our acceptance tests down and got the following results using stackprof

[code]

Unsurprisingly, there's a lot of time spent in the database. I'm curious though about what the high (37.5%) miss rate means.

Sorry if this is the wrong forum for questions like this. Please let me know if there is a mailing list or some other alternative?

[2014-06-30 19:17] #27 closed, assigned to nobody

[2014-09-04 03:36] dnagir opened #30 "HTML Printer"
Would be good to have a HTML printer similar to the [`ruby-prof`'s one](https://github.com/ruby-prof/ruby-prof/blob/master/lib/ruby-prof/printers/call_stack_printer.rb).

It would really help analysing the profiling data better since currently the main visual too (Graphviz) is unusable with the big dump.

[2014-09-04 20:25] blshkv opened #31 "ext/extconf.rb: Could not create Makefile due to some reason"
~/.gem/ruby/1.9.1/gems/stackprof-0.2.7/ext $ ruby19 ./extconf.rb output:

[code]

mkmf.log :

[code]

[2014-09-04 21:00] #31 closed, assigned to nobody

[2014-09-21 03:35] SpringMT opened #33 "Flamegraph option is error."
I try to use stackprof.
I can show text summary of stackprof results, however not show flamegraph(using --flamegraph option) occuring errors.

Errors is below.

[code]

Text summary is below(success).

[code]

[2014-09-21 08:53] #33 closed, assigned to nobody

[2014-10-23 18:59] aaronjensen opened #36 "Limit to specific thread?"
Flamegraphs in particular are rather confusing when there are multiple threads. Is there a way to limit either the recording or the flamegraph conversion to a single thread?

[2014-10-30 10:24] schmurfy opened #37 "ability to ignore some methods/path"
I have an application using heavily activerecord (not a rails app) and when trying to profile it I get mitigated results...
The problem is that most of what is shown is, without surprises, in activerecord/activesupport which is not really what I want to know, is there a way to ignore activerecord and instead add the time passed in it to the level above it ?

Here is what I currently get (time pass

[2014-11-19 01:00] pushrax opened #40 "Drop edges/nodes below a given count"
pprof provides a useful graph feature where you can selectively drop edges and nodes below a certain sample count. Trying to profile a huge app can result in tens of thousands of connections, which easily kills `dot` when rendering a graph.

[2014-12-15 22:53] mperham opened #42 "Needs a LICENSE"
...

[2015-01-04 18:45] inkel commented on #37
Yes, please. That's the only feature I'm missing.

[2015-02-26 21:41] jmthomas opened #45 "Doesn't compile on Windows"
It appears no work has been done to support Windows. Is this gem similar to [memory_profiler](https://github.com/SamSaffron/memory_profiler)?

[2015-02-26 21:49] tmm1 commented on #45
What is the compilation error?

I don't have any experience with win32, but I imagine setitimer() is not implemented. There might be an alternative we can use.. I would refer to the gperftools implementation to see how they implement support for windows.

[2015-05-09 18:16] #40 closed

[2015-09-07 04:46] itsderek23 commented on #37
+1

[2015-10-20 09:43] Zapotek opened #51 "Identify CPU intensive code"
Is there a way to determine what code is causing high CPU usage?

[2015-10-20 16:36] nyarly opened #52 "Please document flamegraph + raw: true in README"
Because #33 is closed, it was hard to find this information, and frustrating to discover the question had been asked and answered.

[2015-10-20 18:27] #52 closed

[2015-10-21 17:40] tenderlove commented on #42
@mperham is the license in the gemspec enough?

[2015-10-21 17:42] tmm1 commented on #42
Fixed in https://github.com/tmm1/stackprof/pull/50

[2015-10-21 17:42] #42 closed

[2015-10-21 17:42] tmm1 commented on #51
Yes, the profiler shows you which lines of code and methods are most expensive when you run it in cpu mode.

[2015-10-21 17:42] #51 closed

[2015-10-21 22:17] Zapotek commented on #51
If I'm understanding the output correctly, it looks like it lists methods by their cumulative CPU time.
So if a lightweight method uses more CPU time than a heavyweight one just because it gets executed more often, it'll be shown as more expensive.

Which is fair I guess, but I was hoping to be able to spot the heavyweight methods, even if executed much less frequently.

Do I have this wrong?

[2015-10-21 22:18] Zapotek commented on #37
+1

Right now I have a multi-MB flamegraph that no browser can handle.

[2015-12-05 10:08] shunsakai opened #54 "Update release version to add 'add raw option true' commit"
[This commit](https://github.com/tmm1/stackprof/commit/e9835f03be05734945cb9918cc56c383858b9981) which solves the error that option `raw: true` does not work in the release version(v0.2.7) is not merged into current release version.
Please add it to release version so that other people can easily use `--flamegraph` option.

[2016-01-14 07:37] splattael commented on #54
@tmm1

Do you plan to release next version of `stackprof` soonish?

There are a quite number of changes since `0.2.7`: https://github.com/tmm1/stackprof/compare/v0.2.7...master :green_heart:

[2016-01-14 07:45] tmm1 commented on #54
Done

On Wed, Jan 13, 2016 at 11:37 PM, Peter Suschlik <notifications@github.com>
wrote:

[2016-01-14 08:45] splattael commented on #54
Woow, that was fast. Thank you! :heart: :D

[2016-01-19 15:52] jchatel commented on #45
On Windows 7 64bits with Ruby 2.2.3:
------------------------------------------------

Installing stackprof 0.2.8 with native extensions

Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    C:/Ruby/2.2.3/bin/ruby.exe extconf.rb
checking for rb_postponed_job_register_one()... yes
checking for rb_profile_frames()... yes
checking for rb_tracepoint_new()... yes
checking for RUBY_IN

[2016-01-23 10:34] ddfreyne opened #58 "Crash: [BUG] frame2iseq: unreachable"
I get the following crash:

[code]

I’ve left out the other information, but I can provide you with that if necessary. There is also the [crash log](https://gist.github.com/ddfreyne/431488133e1589634886) generated by OS X.

This uses Nanoc’s master branch, with `bin/nanoc` modified to the following:

[code]

Line 10 is the line that says `profile = StackProf.run(mode: :wall) do`.

[2016-02-04 17:24] carsonreinke commented on #58
+1, running `mode: :cpu` though.  0.2.7 produces the same error.

[2016-02-04 18:04] carsonreinke commented on #58
Works on MRI 2.2.4, but not 2.3.0.

[2016-02-08 23:15] #58 closed

[2016-02-21 20:45] Phrogz opened #63 "Unable to capture data (0 samples)"
[code]

Why am I not getting any samples? My internal t2-t1 profiling without stackprof shows that it takes about 40ms for each call to `@mpd.add(song)`, and I know that about 3-4 pure Ruby methods are called as part of each call.

Am I doing something wrong? This is on Ubuntu 15.10:
`Linux music 4.2.0-27-generic #32-Ubuntu SMP Fri Jan 22 04:49:08 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

[2016-02-21 20:56] tmm1 commented on #63
Sounds like it might be I/O bound, not cpu. Try real time mode instead.
On Sun, Feb 21, 2016 at 12:45 PM Gavin Kistner <notifications@github.com>
wrote:

[2016-02-21 21:45] Phrogz commented on #63
@tmm1 Thank you for the fast response! Yes, using `wall` got me values. I'm not sure which to believe, as I see such different results for runs with different intervals.

Note that (as described in the issue I referenced) my ad-hoc profiling by wrapping the major methods with `t1=Time.now; ...; record Time.now-t1` showed that `handle_server_response` is about 99.8% of the call time.

Any opinion o

[2016-02-21 21:45] #63 closed

[2016-02-21 22:04] tmm1 commented on #63
The miss rate is really high which suggests something is blocking the ruby
process and preventing samples from being recorded.
On Sun, Feb 21, 2016 at 1:45 PM Gavin Kistner <notifications@github.com>
wrote:

[2016-02-21 22:08] Phrogz commented on #63
The method taking up most of the time (in my hand-profiling) is, at it's core:

[code]

So there's likely a large amount of time blocking, waiting for the socket to return. Thanks for commenting on the miss rate, I didn't see any documentation on what that meant, or how to interpret 97% (as bad or good).

[2016-04-05 03:46] dimanyc commented on #45
any updates on this?

[2016-04-05 03:52] tmm1 commented on #45
Sorry, there are no plans to add win32 support at this time.

[2016-04-05 07:45] jchatel commented on #45
How about putting it in the readme then?

[2016-04-13 00:45] hsbt opened #65 "Release request of new version for Ruby 2.3/2.4"
I got `[BUG] frame2iseq: unreachable` error with stackprof-2.8 and Ruby 2.3.0/2.4.0-dev

It fixed at
https://github.com/tmm1/stackprof/commit/04330f9355f265313e5afd9cac6c07a6e0016781

Could you release new version contained above commit?

[2016-04-13 00:47] tmm1 commented on #65
Released 0.2.9

[2016-04-13 00:47] #65 closed

[2016-04-13 00:58] hsbt commented on #65
@tmm1 Great thanks!

[2016-04-18 07:19] bquorning opened #66 "Please push v0.2.9 tag to GitHub"
Makes it easier to create diff links. Thanks.

[2016-04-19 16:14] tmm1 commented on #66
Done

[2016-04-19 16:14] #66 closed

[2016-05-24 02:39] #37 closed

[2016-09-21 16:45] Karlotcha commented on #9
First, thanks for the tool @tmm1 , it is great! :)

About this issue, I don't think it is only a question of recursion. Maybe I just don't understand it, but with this basic example:

[code]

I end up with:

[code]

(using `ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin14]` on OS X Yosemite 10.10.5 )

Also please note that 7308 = 3654 * 2, not sure why I get that :/

[2016-09-28 21:50] stereobooster opened #71 "Error compiling on MacOS"
`gem install stackprof -v '0.2.9'`

[code]

[code]

[2016-09-28 22:03] stereobooster commented on #71
I cloned project. Ran `rake compile` and got

[code]

After I re-started XCode and agreed to license agreement everything got to normal.

Hate when this happens.

[2016-09-28 22:03] #71 closed

[2016-10-03 08:49] bquorning commented on #66
v0.2.10 as well?

[2016-10-19 10:15] waiting-for-dev opened #73 "Confused about flamegraph generation"
Hi,

I've been trying to generate a flamegraph with stackprof.

First, I've been following what it seems the recommended way, because it is documented in the README:

    stackprof --flamegraph tmp/stackprof-cpu-myapp.dump > tmp/flamegraph
    `stackprof --flamegraph-viewer=tmp/flamegraph`

However, this always resulted in a web page that got unresponsive due to what it seems excessive javascript

[2016-10-19 15:49] tmm1 commented on #73
The JavaScript flamegraph is preferred, since its interactive and has more details. You should be able to zoom in and out.

What browser are you using?

@aroben Maybe your perf patches to flamegraph.js would help here?

[2016-10-19 15:58] waiting-for-dev commented on #73
Thanks for your response. I tried with both firefox and chrome in debian.

[2016-10-19 16:01] aroben commented on #73
I'm actually working on a branch right now that replaces the current SVG/D3 Flamegraph viewer with one based on `<canvas>`. It's far more responsive than the current viewer for large profiles. I'm hoping to get a PR opened up in the next day or two with the new implementation.

[2016-10-19 17:16] waiting-for-dev commented on #73
Very happy to hear that :D

[2017-01-13 17:46] Nakilon opened #76 "Can't install on Mac OS ruby 2.0 (on CentOS also)"
[code]

[2017-01-13 17:48] Nakilon commented on #76
[code]

[2017-01-13 18:50] Nakilon commented on #76
[code]

[2017-01-13 19:17] Nakilon commented on #76
[code]

[code]

[2017-01-13 19:23] Nakilon commented on #76
Oh damn, it requires 2.1 _<>

[2017-01-13 19:23] #76 closed

[2017-02-27 10:24] stereobooster opened #78 "High miss rate for macOS Sierra for object report"
Hi. Thanks for this gem. It seems I found a bug

System: macOS Sierra 10.12.3 (16D32)

For `object` report I see this

[code]

but for `wall` report I see this

[code]

Still digging into it.

[2017-02-27 10:59] stereobooster commented on #78
Can it be that problem [here](https://github.com/tmm1/stackprof/blob/2fc0c2db16762a342155030e068cef7c6450c402/ext/stackprof/stackprof.c#L92):

[code]
?

[2017-02-27 11:09] stereobooster commented on #78
For further googlers:

You need to use really small interwall for `object` mode. If you do not specify interval e.g. use `StackProf.start(mode: sp, raw: true)` it will actually defaults to `1`.

[2017-02-27 11:09] #78 closed

[2017-03-14 18:59] originalpete opened #79 "Using a Ruby Pathname as the output file results in error"
In Ruby its common to use the helpful Pathname class to represent a path to a file. However, if you use this with stackprof you get an exception with no helpful stacktrace (because the IO flush happens in the compiled library).

[code]

However, if you call `.to_s`on the end of the pathname object then it works:
[code]

Presumably this is due to the fact that (upon reading the code) it seems that

[2017-03-20 15:25] januszm opened #80 "Way to combine dumps into one flamegraph?"
I used Stackprof several times to generate flamegraphs for long running methods and that works great, but I can't really get meaningful graphs for small dumps. I was wondering if it's possible to combine dumps into one report like you can do using

[code]

At the moment, when I try something similar with flamegraph I get error:
[code]

Is there a way, a workaround for combining them all into one f

[2017-04-12 12:19] libc commented on #9
@Karlotcha I'm sure you forgot about this, but I'll reply here in case other people google for this (like I did today).

This happens because each block call adds a method to stacktrace.

For example,
[code]

Note that m2 appears 3 times in the stack trace, so if I change your code to
[code]

I get 3 times the amount (`5071 * 3 ~ 15211`)

```15211 (253.6%)        5071  (84.6%)     Object#m2```

An

[2017-07-25 22:23] volkanunsal opened #81 "Segmentation error when running Stackprof"
It's my first time using Stackprof. I tried running my Rails app in a Rake task and benchmarking the results and encountered a segmentation error or something. This is what I see in my console.

[code]

Crash report is attached.

[ruby_2017-07-25-173816_Aeronaut-2.txt](https://github.com/tmm1/stackprof/files/1174936/ruby_2017-07-25-173816_Aeronaut-2.txt)

[2017-07-25 22:25] tmm1 commented on #81
Backtrace from crash report:

[code]

[2017-07-25 22:34] volkanunsal commented on #81
Sorry I'm a little slow. Is this caused by a crash in the `libsystem_kernel.dylib`? What causes that? Low memory?

[2017-07-25 22:37] tmm1 commented on #81
No the crash seems to from stackprof.c:191 where it calls rb_profile_frame_full_label. For some reason the ruby VM is crashing when that function is invoked. I'm not sure why.. it could be a bug in stackprof or a bug in ruby.

[2017-07-25 22:39] volkanunsal commented on #81
Oh I see. I tried this with Ruby 2.3.4 also and got the same error.

[2017-07-25 22:46] volkanunsal commented on #81
Here is the rake script I used.

https://gist.github.com/volkanunsal/1247d12d11a324fc487542060431d7cd

[2017-07-25 22:50] tmm1 commented on #81
You should probably put StackProf around Rack::Server.start instead of the entire rake task

[2017-07-25 23:34] volkanunsal commented on #81
You mean something like this?

[code]

Am I doing this right?

The problem with that is it doesn't output the test results to `file`.

[2017-07-25 23:37] tmm1 commented on #81
You would need to shut down the rack server at the end of the benchmark

[2017-07-25 23:40] volkanunsal commented on #81
Ohhhhhhh

[2017-07-26 00:13] volkanunsal commented on #81
Sorry to bother your again. I tried your suggestion to shutdown the server and I still can't get the output file to show up. Here is my code:

[code]

[2017-07-26 00:16] tmm1 commented on #81
Hmm, not sure why that didn't work.

You can try instead to wrap StackProf.run around your TEST_COUNT.times loop. stackprof will always profile all threads, so it shouldn't matter where it is run.

[2017-07-26 01:55] volkanunsal commented on #81
I tried that. This time it's giving me this error

[code]

[2017-07-26 02:19] volkanunsal commented on #81
I think that was happening because I was using `file = Rails.root.join(path)` earlier when the flush error happened. When I used a string path, it started working... :)

[2017-07-26 02:26] volkanunsal commented on #81
Ah, it crashed again after 100 or so calls. It runs for only 10 calls or so before exploding.

[2017-10-23 18:47] schneems opened #84 "2.5.0 support"
When I try to run this on https://github.com/codetriage/codetriage with Ruby 2.5.0 preview 1 I get this error:

[code]

[2017-11-09 08:19] yuankeyang opened #85 "ruby 2.4.2p198 (2017-09-14 revision 59899) [x64-mingw32] support"
[code]
throw erros:

[2017-11-14 18:49] jlfwong opened #86 "Include gc samples in raw output"
Hi there,

I'm working on tooling to convert stackprof output into something consumable by chrome developer tools to generate nice interactive flamegraphs.

![image](https://user-images.githubusercontent.com/150329/32798176-c7fdcdb4-c928-11e7-9592-ddb1c90a91e2.png)

When I was checking the results, I noticed a significant discrepancy between the total sampling profile time and the total wall time

[2017-11-14 18:57] tmm1 commented on #86
Ooh, this is very cool!

A fake stack frame for GC is a good idea. Please do submit a PR.

[2017-11-14 20:59] jlfwong commented on #86
Great! I'll look into it.

From a quick skim of the source, it's not clear to me why `rb_postponed_job_register_one` is used rather than just invoking `stackprof_job_handler` directly from `stackprof_signal_handler`.

From reading https://balazs.kutilovi.cz/post/ruby-tracing-part-two-rbtrace/, it sounds like postponed jobs are run when the process receives a signal, but isn't `stackprof_signal_han

[2017-11-14 21:14] tmm1 commented on #86
The issue that a signal can come in at any time, including for example when the Ruby VM is setting up a method call. It is not safe to get a ruby stack trace while the ruby stack itself is being manipulated and may be inconsistent. Doing so would quickly segfault the process.

Thus we use the postponed_job api to grab a stack trace as soon as the VM is consistent enough to do so.

For the GC case,

[2017-11-17 20:22] #86 closed

[2017-11-17 21:22] tmm1 commented on #85
stackprof does not work on windows. Sorry.

[2017-11-17 21:23] tmm1 commented on #79
Can you open a PR which adds a to_s in the right spot, and maybe a test.

[2017-11-17 21:34] #54 closed

[2017-11-17 22:49] jlfwong opened #88 "Include timestamps for each sample"
Because we can't guarantee that samples happened at exactly the specified interval, it can be helpful to record timestamps for when each sample actually did occur.

This would allow us to generate sampling profiles that align correctly with wall-times (which can help diagnose where time is really going).

The Chrome sampling profile file format includes a list of timestamps -- one per sample.

Is

[2017-11-17 23:21] tmm1 commented on #88
I would use Ruby's Process.clock_gettime to get a monotonic source of timestamps. Just store them directly as doubles.

[2017-11-18 19:00] #88 closed

[2017-11-21 23:25] jlfwong opened #90 "Publish 0.2.11?"
I'd like to use this as a dependency for my `rack-mini-profiler` port, and would prefer not to use a GitHub URL for that dependency if possible.

I'm not sure what versioning scheme you follow, but publishing a new version to RubyGems would be much appreciated!

[2017-11-22 00:01] tmm1 commented on #90
Done

[2017-11-22 00:01] #90 closed

[2017-11-22 00:09] jlfwong commented on #90
Thanks! ✨

[2017-11-22 19:03] schneems commented on #84
Looks like this isn't an issue with 2.10 released today.

[2017-11-22 19:03] #84 closed

[2017-11-28 03:20] jlfwong opened #91 "Threaded vs. Interrupt Approach"
Today I tried enabling https://github.com/jlfwong/rack-mini-profiler for developers at Figma, but had to turn it off almost immediately because we discovered that the sampling profiler causes interrupts to fire in the middle of network requests to S3, causing those S3 requests to fail. I suspect this is because the system calls underlying those network requests return early with an error code if t

[2017-11-28 03:27] tmm1 commented on #91
I've run stackprof on large scale production traffic sites (like this one) without issue. Sounds like there may be a bug in the s3 library you're using, where it doesn't handle EINTR correctly and retry.

Although iirc we are using SA_RESTART so interruptions shouldn't even bubble up in the first place.

[2017-11-28 06:10] jlfwong commented on #91
Based on http://man7.org/linux/man-pages/man7/signal.7.html, it sounds like there a variety of functions that are never restarted, regardless of the use of `SA_RESTART`. These methods include `recv` and `send`, which are presumably used under the hood by the S3 library.

[2017-11-28 06:12] tmm1 commented on #91
What library is it?

Networking code generally loops around EINTR for this reason.

[2017-11-28 06:18] jlfwong commented on #91
https://github.com/aws/aws-sdk-ruby, specifically version 2.8.7

[2017-11-28 06:21] tmm1 commented on #91
Do you have a stack trace of the failure?

[2017-11-28 06:36] tmm1 commented on #91
The approach in stackprof was copied from gperftools, which google also uses extensively internally. If a library doesn't react well to signal interruption, it's a bug in that library.

Sampling via a thread is an interesting idea. You could do that for wall time profiling, but I'm not sure how cpu profiling would work with a thread. Either way, probably best to implement something like that in a

[2017-11-28 06:41] jlfwong commented on #91
Thanks for the really fast responses, as always :) You're a very helpful maintainer.

I'll try to dig up a stack trace later, and see if I can identify a bug in the S3 library.

If that ends up being a rabbit hole, I'll investigate other profiling libraries.

[2017-12-08 21:34] jlfwong commented on #91
Okay, I dug a little further, and on second look, I don't think it has anything to do with S3.

It seems like an interaction with the thread pool being used by https://github.com/chadrem/workers (we parallelize S3 uploads using that library).

[code]

I would expect this to output:

[code]

What it actually outputs is

[code]

If I remove the `Stackprof.Run` (so the resulting script is just this):

[2017-12-08 22:41] jlfwong commented on #91
Found a fix: https://github.com/chadrem/workers/pull/8#issuecomment-350390340

Closing this now, since this ended up having nothing to do with `stackprof` :)

[2017-12-08 22:41] #91 closed

[2017-12-08 22:42] tmm1 commented on #91
Nice find. May be worth reporting up to ruby-core too, as it seems CondVar#wait should have more sane behavior here.

[2017-12-27 05:52] hkdnet opened #92 "No tags for v0.2.10 and v0.2.11"
I found there are no tags for v0.2.10 and v0.2.11 on GitHub.
Could you push these tags?

[2017-12-27 05:55] tmm1 commented on #92
Done

[2017-12-27 05:55] #92 closed

[2018-01-05 20:55] SherModo opened #94 "Filename is ignored in middleware mode; default filename is always used"
https://github.com/tmm1/stackprof/blob/master/lib/stackprof/middleware.rb#L27
https://github.com/tmm1/stackprof/blob/master/lib/stackprof/middleware.rb#L43
https://github.com/tmm1/stackprof/blob/master/lib/stackprof/middleware.rb#L46

[2018-01-05 22:28] SherModo commented on #94
I made these changes to make it work locally:
[code]

[code]

[2018-01-05 22:36] tmm1 commented on #94
Please submit a pull request.

[2018-05-08 00:31] #45 closed

[2018-05-08 00:31] #85 closed

[2018-05-08 00:33] itsderek23 commented on #45
The README now clarifies OS support: https://github.com/tmm1/stackprof#requirements

[2018-05-08 00:36] itsderek23 commented on #94
Fixed by #95.

[2018-05-08 00:36] #94 closed

[2018-06-12 07:57] der-flo opened #97 "Shrink flamegraph"
I'm using Stackprof as part of the [test-prof](https://github.com/palkan/test-prof)-Stack to examine our feature tests. Sampling the raw data for one RSpec example results in a 5 MB dump file. Creating the flamegraph file takes about 20 minutes. So far so good. But using the flamegraph viewer shows an enormous graph which I can not really examine seriously.

It is possible to reduce the entries? I

[2018-06-12 20:10] jlfwong commented on #97
(Shameless self-plug) You should be able to use speedscope to examine massive profiles in an interactive way that should be more pleasant for massive profiles (https://github.com/jlfwong/speedscope#stackprof-ruby-profiler)

[2018-06-18 07:40] der-flo commented on #97
@jlfwong I did a quick test. Selecting my 18 MB file gives me *"Failed to load format. See console for details"*. The JS console gives me a quite interesting `undefined` in `speedscope.86b357fe.js:144` 😉.

@all: More solutions/ideas are very welcome.

[2018-06-18 18:53] jlfwong commented on #97
@der-flo Interesting! Is it a file you'd be willing to share, or have a method of reproducing something that fails similarly?? it should be able to handle 18MB files without too much issue.

Here's an example ruby file that I used to generate a test case that can import successfully into speedscope: https://github.com/jlfwong/speedscope/blob/master/sample/programs/ruby/simple.rb

[2018-06-20 15:11] der-flo commented on #97
@jlfwong Um, my file contains quite sensitive information. I can not hand it out easily.
To your Ruby example: To be honest, that's a hello world script. I'm profiling a Rails app - an enourmous difference.
Your test obviously exports JSON, [test-prof](https://github.com/palkan/test-prof) exports a binary dump file for Stackprof profiles.

[2018-06-20 17:22] jlfwong commented on #97
@der-flo You're absolutely right! Based on a read of the test-prof sources, it seems like the file speedscope is failing to import is Marshal encoded. Aside from that though, I suspect it will import just fine.

To convert from the Marshal generated code to JSON for import, this might work:

[code]

Then drop the resulting `profile-for-speedscope.json` into speedscope.

That's obviously not a grea

[2018-06-21 14:55] der-flo commented on #97
@jlfwong I converted two of the dump files and tried them:
[code]

[2018-06-21 17:33] jlfwong commented on #97
Ah, sorry. I'm not sure what's going on now.

Just to make sure, when running `test-prof`, are you using `TEST_STACK_PROF=raw`? (from https://test-prof.evilmartians.io/#/stack_prof)

I'm not sure what's wrong, and I'm not sure how to proceed at this point without having a file that fails to import. I'd really love to get this working since the whole point of speedscope is to be able to interactive

[2018-06-22 07:15] der-flo commented on #97
@jlfwong My failure! I tried to analyse non-raw dumps. It now works. The UI is indeed quite nice!

My core problem unfortunately remains. I have enormous amounts of stack frames which I'm not interested in. They are dominating the view, preventing me to identify hot spots/problems.

@all RubyProf offers "method exclusion" while profiling and "method elimination" after profiling. With this tools I

[2018-09-07 22:10] NickLaMuro commented on #97
@der-flo Not part of the core team on this, but it doesn't currently support this when doing flame graph generation.  That said, there are options in place for '"method elimination" after profiling' when viewing via plain text:

https://github.com/tmm1/stackprof/blob/1af222023e21b546b43df6f465672c53ad6504dd/bin/stackprof#L26-L29

Again, not part of the flamegraph generation, and what is done [for

[2018-09-11 07:45] der-flo commented on #97
@NickLaMuro Thanks for great amount of information. I'll have a look into it asap.

[2018-10-19 13:51] der-flo commented on #97
@NickLaMuro I tested your suggestion using the original flamegraph script. The output is a bit more readable. But the core issue remains. Most frames are not interesting and pollute the UI.

[2018-10-22 15:08] NickLaMuro commented on #97
@der-flo Sorry to hear that it wasn't much more help... 😞

I might take a look and see what would be involved with method elimination in post for flamegraphs, as I think that does seem like the preferred way of handling it on this project (adding more processing while taking the samples seems like it is against the original goals of the project).  No promises though.

[2019-02-27 19:41] DNNX opened #108 "No tag for 0.2.12"
Please publish it.

[2019-09-19 14:15] osyoyu commented on #80
Ran in to same problem here.

This seems to be caused by `Report#+`, which simply ignores raw samples in the merge process. This patch worked for me:

[code]

I've also patched `frames` to a simple Hash#merge, since `print_flamegraph` expects unnormalized frames. Pretty sure that this isn't the correct way to fix this, but it works, at least :man_shrugging:

[2019-09-20 22:54] benbuckman commented on #81
Has anyone been able to debug or fix this? I'm observing the same segfault behavior on Ruby 2.6.3.

[2019-09-20 22:58] benbuckman commented on #81
Anecdotally, it only seems to crash when `interval` is less than 100 μs.

[2019-11-06 18:50] benbuckman opened #123 "Program hangs if sample-collection time is > interval"
### Context
We are trying to enable StackProf in production on a REST API service. We would like to use `mode: :wall, raw: true, aggregate: true`, but it has been challenging to calibrate the `interval`. The segfault bug described in #81 makes very low/fast sampling rates concerning (especially because our hypothesis about the causes of those segfaults, which we have not verified, centered on [ove

[2019-11-06 18:56] benbuckman commented on #81
Actually, the behavior I was seeing earlier was probably not a segfault – it was probably the program hanging – described in https://github.com/tmm1/stackprof/issues/123 – but because the server was behind a proxy, the proxy interpreted that as the server dying, which I mis-interpreted as a crash.

FWIW, while we were pondering this segfault issue (with the prior understanding that this was occurr

[2019-11-06 23:04] benbuckman commented on #123
OK, it's fairly easy to repro this. This uses recursion (to a max depth) because that causes the stack size to keep growing, which causes `rb_profile_frames` and `stackprof_record_sample_for_stack` to keep doing more work on each iteration.

[code]

At a high/slow sampling rate, this is fine:

[code]
and it prints out some results. (And I see the same with `interval: 100`.)

But then down to 1 mic

[2019-11-07 00:01] NickLaMuro commented on #123
@benbuckman So looking at this per your request over in #122

So my initial thought after looking through your right up again and suggestions was "why don't we just use a lock so when multiple job handlers are being acted on at the same time, the handler just ejects early", but it turns out that was already implemented:

https://github.com/tmm1/stackprof/blob/b886c3c09ccaa2ed6bbb35fcea57210a589bfd

[2019-11-07 03:09] NickLaMuro commented on #123
Alright, so I think I have some evidence to support @benbuckman 's claims that we are creating a situation where the "queue" is piling up when the `interval` gets too small, and probably checks off your second box.

Most of the info for this is in a gist I created:

https://gist.github.com/NickLaMuro/3b54c57e1ffeb21316f38529fa93ea67

But effectively is a modified form of the reproducer that @benbu

[2019-11-07 07:08] benbuckman commented on #123
Thank you @NickLaMuro !

My C knowledge is very weak, but I was able to add a bunch of timestamp diffs to the code – specifically, in `stackprof_record_sample` – and print them out. So, adding another angle –

1. With `mode: :wall, interval: 200` (microseconds), the flow (in a test, profiling my earlier `recurse` code) looks like this:
[code]
(and then it prints out results and exits nicely.)

2.

[2019-11-07 07:28] benbuckman commented on #123
One possible solution which seems like it might work, is simply moving the `in_signal_handler` lock from static methods in the job handlers (which are working on the already-enqueued jobs), to the `_stackprof` global struct, checked in both the job handlers and the _signal handler_ ... so it doesn't enqueue jobs if it's still working on one.

I'm not sure what this would mean for the final results

[2019-11-07 07:32] benbuckman commented on #123
One other note, re

One challenge here is that the safe interval is not constant. It depends on the size of the stack at any given moment, whether the same frame is repeating (because `stackprof_record_sample` in `raw`+`aggregate` modes is doing a bunch of analysis/aggregation on the frames). So I don't think it's as simple as setting a minimum number that the code always rejects, it has to be con

[2019-11-11 21:36] benbuckman opened #125 "Undefined behavior with interval > 1 second"
The code to translate `interval` (set in microseconds) to a timer is implemented here,
https://github.com/tmm1/stackprof/blob/b886c3c09ccaa2ed6bbb35fcea57210a589bfd3a/ext/stackprof/stackprof.c#L115-L116
and (for forks) here,
https://github.com/tmm1/stackprof/blob/b886c3c09ccaa2ed6bbb35fcea57210a589bfd3a/ext/stackprof/stackprof.c#L628-L629

`it_interval` is a `timeval`, documented at https://www.gn

[2019-11-14 16:32] tenderlove commented on #123
Hi, I'll take a look at this too.  Of course any solution to this will result in dropped samples.  Is there a reason you need to make the sampling frequency so high?  Or is that just to demonstrate the bug?  I'm curious because I've never run in to this, and I use this tool very frequently.

[2020-02-04 04:21] ruvaleev opened #133 "-bash: stackprof: command not found"
Gem is installed and the report is generated, I see it, but when I trying to open it with stackprof:

`stackprof profilizers/stackprof_reports/stackprof.dump`

console returns error:

`-bash: stackprof: command not found`

What am I doing wrong?

[2020-02-19 23:47] prettycoder commented on #133
Are you using `rbenv`?
If so, try `rbenv rehash` to get the binary installed in a path where it can be found.

[2020-02-20 01:36] ruvaleev commented on #133
`rbenv rehash`
`rbenv: cannot rehash: /Users/ruslan/.rbenv/shims/.rbenv-shim exists`

[2020-06-04 20:34] parkr opened #137 "Handle irb monkey-patching in StackProf::Report"
Hey!

I generated a StackProf::Report in production for a slow process. I found a method that appeared to be quite expensive and refactored it. I applied the monkey-patch in my irb session and regenerated the stackprof. Unfortunately, when I went to call `Report#print_method`, I got an error saying that stackprof couldn't open file `irb`.

Could we add support for reading source from irb? `Report#

[2020-06-04 21:35] parkr commented on #137
I took a stab at this today. The `irb` module took some getting used to, but I found a solution.

[code]

The `IRB.CurrentContext.io` returns some form of "input method." These input methods [all define a `@line` instance variable which holds all the IRB history of the current session](https://github.com/ruby/ruby/blob/a9e0046c26797343322a7211586f0acedfb7492e/lib/irb/input-method.rb).

Here's samp

[2020-06-04 21:37] parkr commented on #137
If you add a newline to the end of each line of code in the IRB history, then you get this:

[code]

All you need to do is change `#source_file_lines`:

[code]

[2020-06-04 21:48] NickLaMuro commented on #137
@parkr You probably could do:

[code]

If you wanted something a little more terse.  Though, does cause one extra loop iteration.

[2020-06-04 23:14] parkr commented on #137
@NickLaMuro That would create just one string for all of IRB history, I think. I’m looking to mimic `File.readlines`, which returns an array of lines, each with terminating new lines.

[2020-06-04 23:17] NickLaMuro commented on #137
Ah , you are correct.  My bad

[2020-06-05 00:12] parkr commented on #137
No problem! Thanks for the optimization help anyway!

[2020-07-05 04:20] marcandre opened #139 "Is it by design that `StackProf.run` won't write results in `ensure`?"
0) `StackProf` is amazing, thank you!

I hope this will be useful, but if not feel free to close this issue.

1) My first attempt `StackProf` was:

[code]

That doesn't work, because `StackProf.run` returns the written file. I didn't expect that. I don't think it's even documented anywhere. I'm not sure it's useful. I'm not talking about the case where `out:` is not given, case where I understand

[2020-07-05 17:45] tmm1 commented on #139
I agree this looks like a bug and the results should be written within the ensure.

[2020-07-15 16:14] igorwwwwwwwwwwwwwwwwwwww opened #142 "Samples skewed by Thread#join"
I'm working on rolling out stackprof for gitlab.com ([ref](https://gitlab.com/gitlab-com/gl-infra/infrastructure/-/issues/10789)), and started testing on our canary hosts today.

I got very odd results, for some reason a `Thread#join` from puma kept showing up as 80% of the profile.

In an attempt to verify the accuracy of this, I ran a `perf record` while running `stackprof`, in order to get a C-

[2020-07-15 17:27] igorwwwwwwwwwwwwwwwwwwww commented on #142
Oh wow, I figured it out while preparing a reproduce case.

For some reason I was under the impression that the default mode was `:cpu`. Turns out, it's actually `:wall`. 🤦‍♀️

That would explain it. Switching to `:cpu` should fix this. Sorry for the noise! :)

[2020-07-15 17:27] #142 closed

[2020-07-15 17:39] igorwwwwwwwwwwwwwwwwwwww commented on #142
Ah, README currently claims `:cpu` to be the default mode. But based on [this line](https://github.com/tmm1/stackprof/blob/master/ext/stackprof/stackprof.c#L122) this does not appear to be the case, at least for `StackProf.start()`.

One of the two should probably be corrected for accuracy.

[2020-09-15 09:34] MathieuDerelle opened #145 "impossible de install on ruby 2.2.9"
What's/Where'e the error ?
Which API is missing ?

[code]

[2020-09-24 21:12] mehagar commented on #145
Seeing the same thing trying to install from ruby 2.1.10 as well.

[2020-09-28 14:45] NickLaMuro commented on #145
@mehagar for your case, greater than ruby 2.2 is required:

https://github.com/tmm1/stackprof#requirements

[2020-09-29 16:05] NickLaMuro commented on #145
@MathieuDerelle Sorry for the delay in my response.  I decided to try reproducing this myself, but wasn't able to, but possibly some of the difficulties I had of trying to get Ruby 2.2 installed on a newer Mac might shed some light as to what the issue on your end might be.

* * *

To start, I had a couple failed attempts trying to get `OpenSSL` to work with Ruby properly.  Turns out it was someth

[2020-09-30 07:56] MathieuDerelle commented on #145
Indeed, there are now problems with openssl when installing ruby < 2.4
Using `rvm`, the command for me was `rvm install 2.2.9 --with-openssl-dir='/usr/local/opt/openssl@1.0'`

I had some issues with Command Line Tools recently.
Now that its fixed, I'll try again to install this gem and come back to you.

[2020-10-01 19:03] MarkyMarkMcDonald opened #146 "Can we release the next minor version (2.16.0)?"
I wanted to use the `ignore_gc` option that's documented in the README, but it was added after the last released version.
It's been a bit since the last version bump, can we cut a new release?

[2020-10-22 15:10] tenderlove commented on #146
Yep, I'll do it

[2020-10-22 21:02] tenderlove commented on #146
I pushed 0.2.16

[2020-10-22 21:02] #146 closed

[2020-12-03 13:02] bquorning commented on #108
Seems the tag has been pushed now: https://github.com/tmm1/stackprof/tree/v0.2.12

[2020-12-21 21:28] avdi opened #148 ""Can't modify frozen string" when generating some reports"
The file has the `frozen_string_literal: true` annotation, but this line is appending to a string literal:

https://github.com/tmm1/stackprof/blob/1a75be9d44e410e45b98db855819ee984061b470/lib/stackprof/report.rb#L449

[2021-03-06 09:26] pocke commented on #148
This problem will be fixed by #147.

[2021-04-23 21:23] #148 closed

[2021-05-27 13:43] Jean-Malan opened #156 "undefined symbol: pthread_atfork"
Hey Team,

I am running a Rails (6.0.3.4) app on my Mac (M1 Chip). This error is persisting and is killing my builds:

[code]

I am really struggling to find where / why this error is happening and I'm not sure if its versioning / compatibility issues that it is running into.

[2021-05-28 09:22] ivoanjo opened #157 "Segmentation fault when stackprof is left running during VM shutdown"
Howdy! 👋

First the disclaimer (I guess it may be relevant): I work at @Datadog on profiling for the [ddtrace](https://github.com/DataDog/dd-trace-rb) gem, although we don't use `rb_profile_frames` (tradeoffs, tradeoffs 🤣 ).

While doing a few experiments with stackprof (0.2.17), I noticed that I got VM crashes when the process was finishing up with stackprof still enabled. I can reproduce this on

[2021-05-28 15:44] ivoanjo opened #158 "Using wall-clock profiling on macOS makes Ruby thread scheduling starve background threads"
Hello again! 👋 😄

First the disclaimer (I guess it may be relevant): I work at @Datadog on profiling for the [ddtrace](https://github.com/DataDog/dd-trace-rb) gem, although we don't use `rb_profile_frames` (oh my god it's full of C 🤣 ).

While doing a few experiments with stackprof, I came upon this really really really weird behavior. Consider this simple test application:

[code]

Basically two

[2021-05-30 17:57] joannepolsky commented on #80
Has this ever been integrated? I'm having the same issue.

[2021-06-04 13:09] eregon opened #159 "TruffleRuby support"
Hello!

Currently stackprof fails to install on TruffleRuby, due to the [extconf.rb](https://github.com/tmm1/stackprof/blob/854c19a151b36794675231147efb490ebe702dab/ext/stackprof/extconf.rb) checking for `rb_postponed_job_register_one()` and `rb_profile_frames()` and those APIs are not implemented on TruffleRuby.

It's also a good question whether implementing `rb_profile_frames()` on TruffleRuby

[2021-06-17 00:14] tenderlove commented on #159
I'm not strictly opposed to this. But those checks are in place so that the gem can't be installed on older Rubys that don't have the function.

Maybe this is a silly idea, but could you implement `rb_profile_frames()` in TruffleRuby and just have it raise an exception?

Anyway, I'm not opposed as long as we can find a way to make sure the gem won't install on platforms where we don't want it.

[2021-06-17 11:04] eregon commented on #159
That's possible, but it's suboptimal because some other gem could check for `rb_profile_frames()` and if that gem has a fallback (i.e., can handle that function not being there) it would likely work on TruffleRuby if it's not defined, but it would break (i.e., worse than the current state) if we define it as a "stub raising an exception".
We've seen that issue with other C API functions, so in gen

[2021-06-21 01:05] tenderlove commented on #159
OK, sounds good. Send a PR and I'll merge it! 😄

[2021-06-22 14:33] kreopelle opened #160 "Stackprof raises NameError when wrapped in Rails environment conditional"
Hello!

A Rails 5 application I support was recently upgraded to run on RubyGems 3.2.7 and Bundler 2. Prior these changes, the application ran on Bundler 1.17. I'm not sure which RubyGems version it ran on.

It is running on Stackprof 2.11 within a `:development` block. The version was unchanged during the RubyGems/Bundler upgrade.

Stackprof is configured via rack middleware in the `config/applic

[2021-06-22 16:18] ivoanjo commented on #160
Tiny suggestion: You may want to try the usual `::StackProf::Middleware` (adding the `::` prefix), as Ruby seems to be trying to look up your constant in the wrong namespace.

If you already tried it, please ignore my comment :)

[2021-06-23 03:29] kreopelle commented on #160
I haven't tried that yet! I'll give it a shot and let you know how it goes! Bumping the version to 2.17 didn't resolve the error.

[2021-06-23 15:14] kreopelle commented on #160
This turned out not to be an issue related to stackprof at all! The other updates around our infrastructure caused the development environment configuration to be executed on our servers. The `Rails.env.development?` the stackprof middleware was set in just happened to be the first piece of code executed.

Thank you @ivoanjo for your advice and timely response! 😄

[2021-07-21 09:11] franck commented on #156
Hi @Jean-Malan,

Did you find a solution ?

I have the same issue.

[2021-08-02 16:33] #160 closed

[2021-08-02 16:56] hugohow commented on #156
I have the same issue

[2021-08-03 22:53] whalesalad commented on #156
My current solution has been to eliminate stackprof from the Gemfile since it is typically not a production dependency. I am also experiencing this in a Ruby 2.6.8 / Rails 4.x environment.

[2021-08-23 19:59] isobit commented on #123
Hey all, we're still running into this with Ruby 3 despite https://github.com/tmm1/stackprof/pull/150. In our case we're profiling in a separate thread using something like this, which never returns since the thread is never given the opportunity to wake up:

[code]

I'm not sure exactly why the sampling take so long with our situation, but I've managed to repro this by forcing `stackprof_record_s

[2022-03-05 00:26] maeve commented on #156
Workaround: explicitly add `-pthread` to the linker flags.

Configure via bundler:

[code]

Or install the gem directly:

[code]

In my case, I was installing stackprof into an ubuntu-based docker image on an arm64 architecture, and had to install the pthreads stubs as a dependency first:

[code]

[2022-03-10 22:50] technicalpickles commented on #36
I've been wanting this too. When profiling Rails controller actions, you will end up with your app servers thread showing up if it is multithreaded. The only work around I have found is to use unicorn, which is not threaded (puma and webrick are).

[2022-03-10 23:58] NickLaMuro commented on #36
@technicalpickles I think for this, your best option is to actually use the included `middleware`:

https://github.com/tmm1/stackprof/blob/master/lib/stackprof/middleware.rb

The documentation for that is probably a bit lacking though:

https://github.com/tmm1/stackprof#run

but it should behave as a normal middleware, and you shouldn't get the bloat as each request should be run on a single threa

[2022-03-11 15:30] technicalpickles commented on #36
@NickLaMuro I've been using code pretty similar to the middleware, but I'm not seeing anything obvious in there that would have the other bloat.

I was chatting with @nateberkopec about how to try to eliminate puma in the flamegraph, but he said you'd see that with any multithreaded webserver, which includes webrick, and that unicorn is the only option right now.

[2022-03-11 16:34] blowfishpro commented on #36
I was seeing something similar with Phusion Passenger.  It's not really multithreaded by default but it does process requests on a thread that's not the main thread.  Every time the application is waiting on I/O it shows up as whatever method the main thread is running (which is always the same) and you have to go scroll into the edges of that period to figure out what the app actually called.

[2022-03-14 13:23] fekadeabdejene commented on #158
Machine: Linux spin 5.4.120+ #1 SMP Tue Jun 22 14:53:20 PDT 2021 x86_64 x86_64 x86_64 GNU/Linux

Modified the script to show differences between CPU and WALL on the above machine:

[code]
:cpu showing both threads
![](https://screenshot.click/14-21-cl34y-a0svk.png)

:wall only showing main thread
![](https://screenshot.click/14-21-n9len-y8cfg.png)

[2022-03-25 18:36] tenderlove commented on #158
@fekadeabdejene I'm not seeing thread starvation in this case.  When I run this on linux, both emojis are printed out mostly evenly:

[code]

Does it do the same thing for you?  I want to figure out if this is a problem with thread starvation or if it's a problem with the reporter.

[code]

[2022-03-25 18:45] fekadeabdejene commented on #158
Hey, That is a good point! A problem with the reporting is possible. I also am able to see the emoji's. Whenever I get dumps using `:wall` it only shows the main thread samples. So I thought it maybe related to this issue. As you are saying, it might not be.

[2022-05-24 08:45] emixa-d opened #178 "`test_gc` fails on (32-bit, hardfloat, QEMU-emulated) arm"
Version 0.2.17 of stackprof fails to build on (QEMU-emulated, 32-bit, hardfloat) arm, because of a test failure=

[code]

[2022-05-24 08:45] emixa-d commented on #178
(Downstream report at <https://issues.guix.gnu.org/55609>)

[2022-07-12 12:04] casperisfine opened #179 "Incompatible with YJIT 3.2.0"
It is known of the maintainers, but just opening an issue so it can be referenced.

Latest stackprof is incompatible with YJIT 3.2.0-dev. Using both together is extremely likely to cause a segfault.

IIRC the conversation we had, it's because stackprof can trigger signals at any point which YJIT don't expect.

[2022-07-12 12:09] casperisfine commented on #179
IIRC the cause is https://github.com/tmm1/stackprof/pull/150

[2022-07-18 15:53] #179 closed

[2022-08-01 10:14] samuelvaneck opened #182 "Problem with Ruby 2.7.6 and version 0.2.20"
I've got issue's running the latest version of Stackprof, `0.2.20` on Ruby `2.7.6`. The server crashes after 1-2 page clicks.

[code]

If needed I can provide the Diagnostic Reports.

[2022-08-03 20:23] skvortsovvg opened #183 "Error installing with Ruby 3.1"
I get this huge error log while installing stackprof 0.2.20. Ruby version 3.1.2.
What's wrong with it? How to fix?

[2022-08-04 21:04] NickLaMuro commented on #183
@skvortsovvg There isn't a whole lot of info in this ticket, but it seems like Windows is not really supported for `stackprof` any more:

https://github.com/tmm1/stackprof/pull/153

[2022-08-05 08:01] skvortsovvg commented on #183
😔 why is this world so hard

[2022-08-13 13:02] eregon commented on #159
Better late than never :sweat_smile:: https://github.com/tmm1/stackprof/pull/184

[2022-08-18 22:28] ms-ati opened #185 "Segmentation fault on Ruby 2.7.6p219"
Calling `rack-mini-profiler`, this used to work well on earlier Ruby versions.

[code]

[2022-08-19 16:09] ms-ati commented on #182
See also #185

[2022-08-19 16:10] ms-ati commented on #185
See also #182

[2022-08-19 16:11] ms-ati commented on #185
Reported also to Ruby-lang Bugs as [Ruby issue 18967](https://bugs.ruby-lang.org/issues/18967)

[2022-08-19 16:13] ms-ati commented on #185
Rails: 6.1.5.1
Puma: 5.6.4

[2022-08-20 10:32] eregon commented on #182
FWIW the CI also seems to segfault or fail frequently: https://github.com/tmm1/stackprof/actions

[2022-08-22 10:57] eregon commented on #182
I think https://github.com/tmm1/stackprof/pull/180/files#r951294711 is the bug

[2022-08-22 11:05] eregon commented on #182
History of the related PRs, since I've been through them a couple times:
https://github.com/tmm1/stackprof/pull/150
https://github.com/tmm1/stackprof/pull/172
https://github.com/tmm1/stackprof/pull/180

[2022-08-22 17:04] #159 closed

[2022-08-22 17:25] eregon commented on #182
I think we can close this, https://github.com/tmm1/stackprof/pull/186 should fix it.

[2022-08-22 17:26] eregon commented on #185
I think we can close this, https://github.com/tmm1/stackprof/pull/186 should fix it.

[2022-08-24 08:14] samuelvaneck commented on #182
The MR should indeed fix the issue. We removed the gem from our repository since we didn't use it. I'll close the issue.

[2022-08-24 08:14] #182 closed

[2022-09-20 19:02] Qqwy opened #189 "Possibility to filter certain files or classes?"
We'd like to use Stackprof to generate flamegraphs for the requests of some of our Rails servers.

Some servers run on Passenger, others on Puma.

In both cases, current flamegraphs show that normal execution of the code is frequently interrupted by an event loop call, such as `PhusionPassenger::RequestHandler#wait_until_termination_requested`.

These chop the flamegraph into many smaller pieces,

[2022-10-04 12:56] mdb571 opened #190 "flaky test failure with ruby3.1"
Running the tests with ruby3.1 seems to produce the following failure.Sometimes the tests randomly passes.

[code]

[2022-10-11 14:30] rrrrrrmb opened #191 "Test failures on 32bit arch"
Hello, we have the following bug [report](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1021262) for stackprof gem in Debian.
test_raw fails as below in 32 bit arch
[code]

Can you take a look at this ?